<navbar></navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
        <h1>Images</h1>
      </div>
  </div>
    <div class="row">
        <div class="form-group col-md-10">
            <input type="file" class="form-control" placeholder="Upload file" accept=".jpg,.png,.gif">
        </div>
        <div class="col-md-2">
            <input class="btn btn-default" type="submit" value="Upload" (click)="fileChange($event)">
        </div>
    </div>        
</div><!-- /.container -->